*.elc
.org-id-locations
.cask
auto-save-list
dict
public_repos
github
elisp
elpa
etc
info
other
persp-confs
url
recentf*
tramp*
ac-comphist*.dat
session.*
anything-c-adaptive-history*
helm-adaptive-history*
network-security.data
*競合コピー*
